<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="menu">
          <ul class="list-group">
            <li class="list-group-item">
                <span>STEP 1</span>
                <p>YOUR INFO</p>
            </li>
            <li class="list-group-item">
                <span>STEP 2</span>
                <p>SELECT PLAN</p>
            </li>
            <li class="list-group-item">
                <span>STEP 3</span>
                <p>ADD-ONS</p>
            </li>
            <li class="list-group-item">
                <span>STEP 4</span>
                <p>SUMMARY</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="container step-component">
            <div class="row">
                <div class="col">
                    <app-step1></app-step1>
                </div>
            </div>

            
        </div>
      </div>
    </div>
  </div>