<div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="menu">
          <ul class="list-group">
            <li class="list-group-item">
                <span>STEP 1</span>
                <p>YOUR INFO</p>
            </li>
            <li class="list-group-item">
                <span>STEP 2</span>
                <p>SELECT PLAN</p>
            </li>
            <li class="list-group-item">
                <span>STEP 3</span>
                <p>ADD-ONS</p>
            </li>
            <li class="list-group-item">
                <span>STEP 4</span>
                <p>SUMMARY</p>
            </li>
          </ul>
        </div>
      </div>
      <div class="col">
        <div class="container step-component">
          <div class="row">
            @if (step == 1){
              <div class="col">
                <app-step1></app-step1>
            </div>
            }@else if (step == 2) {
              <div class="col">
                <app-step2></app-step2>
            </div>
            }
            @else if (step == 3) {
              <div class="col">
                <app-step3></app-step3>
            </div>
            }
            @else  {
              <div class="col">
                <app-step4></app-step4>
            </div>
            }      
          </div>
        </div>
        <div class="row">
          @if(step > 1){
            <div class="col text-start">
              <button type="submit" class="btn btn-primary" (click)="changeStep(step - 1)">Previous Step</button>
          </div>
          }
          @if(step < 4){
            <div class="col text-end">
              <button type="submit" class="btn btn-primary" (click)="changeStep(step + 1)">Next Step</button>
          </div>
          }
      </div>
    </div>
  </div>
</div>